<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>支付宝H5支付</title>
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
</head>
<body style="padding: 0px;margin: 0px">

    <div style="width: 100%;height: auto;display: flex;flex-direction: column;justify-content: center;align-items: center">
        <img src="/images/bean_top.jpg" style="width: 100%">
        <img src="/images/bean_info.jpg" style="width: 90%">
        <p style="font-size: 35px;color: #0a53be">请在浏览器打开访问</p>
    </div>
</body>
</html>