<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bss.mapper.ComplaintItemMapper">

    <resultMap id="BaseResultMap" type="com.bss.entity.ComplaintItem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="complaintNumber" column="complaint_number" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="images" column="images" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,complaint_number,content,
        images,create_time
    </sql>
</mapper>
