<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bss.mapper.ConfigureMapper">

    <resultMap id="BaseResultMap" type="com.bss.entity.Configure">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="merchant" column="merchant" jdbcType="VARCHAR"/>
            <result property="indexAd" column="index_ad" jdbcType="TINYINT"/>
            <result property="extract" column="extract" jdbcType="TINYINT"/>
            <result property="marketing" column="marketing" jdbcType="TINYINT"/>
            <result property="notice" column="notice" jdbcType="TINYINT"/>
            <result property="noticeUrl" column="notice_url" jdbcType="VARCHAR"/>
            <result property="payMode" column="pay_mode" jdbcType="INTEGER"/>
            <result property="payPoints" column="pay_points" jdbcType="DOUBLE"/>
            <result property="payPercent" column="pay_percent" jdbcType="DOUBLE"/>
            <result property="payStart" column="pay_start" jdbcType="INTEGER"/>
            <result property="courseArticle" column="course_article" jdbcType="INTEGER"/>
            <result property="customerArticle" column="customer_article" jdbcType="INTEGER"/>
            <result property="agreementArticle" column="agreement_article" jdbcType="INTEGER"/>
            <result property="onlinePayment" column="online_payment" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant,index_ad,
        extract,marketing,notice,
        notice_url,pay_mode,pay_points,
        pay_percent,pay_start,course_article,
        customer_article,agreement_article,online_payment
    </sql>
</mapper>
