<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bss.mapper.DividendMapper">

    <resultMap id="BaseResultMap" type="com.bss.entity.Dividend">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="relation" column="relation" jdbcType="VARCHAR"/>
            <result property="requestGrade" column="request_grade" jdbcType="INTEGER"/>
            <result property="responseGrade" column="response_grade" jdbcType="INTEGER"/>
            <result property="spread" column="spread" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,relation,request_grade,
        response_grade,spread
    </sql>
</mapper>
